


      <div class="col-xs-12 col-sm-4">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://placehold.it/300/300');">
      <div class="card-category">Popular</div>
      <div class="card-description">
        <h2>Some stuff</h2>
        <p>Very cool stuff, useful and smart</p>
      </div>
      <img class="card-user avatar" src="http://placehold.it/300/300">
      <a class="card-link" href="#" ></a>
    </div>
          <!-- insert <div class="card"> -->
      </div>


