
<div class="banner" >
  <div class="banner-content">
    <h1>Our homes are yours</h1>
    <p>COoL places and smart people</p>
    <a class="btn btn-primary btn-lg">GO</a>
  </div>
</div>

<div class="wrapper-grey padded">
  <div class="container">
  <h2 class="text-center"> Explore our World's Announces</h2>
    <div class="row">
      <div class="col-xs-12">
        <%= render 'components/cards' %>
      </div>
      <div class="col-xs-12">
        <%= render 'components/cards' %>
      </div>
     <div class="col-xs-12">
        <%= render 'components/cards' %>
      </div>
    </div>
  </div>
</div>

      <%= render 'components/mailbox' %>

    </div>
  </div>
</div>
