
<div class="banner" >
  <div class="banner-content">
    <h1>Our homes are yours</h1>
    <p>CooL places and smart people</p>
    <%= link_to "Go", announces_path, class:'btn btn-primary btn-lg' %>
  </div>
</div>


<div class="wrapper-grey padded">
  <div class="container">
  <h2 class="text-center"> Explore our World's Announces</h2>
    <div class="row">
    <% @announces.each do |announce| %>
      <div class="col-xs-12 col-md-4">
        <%= render 'announces/announce', announce: announce %>
        <%= link_to "plus de details", announce_path(announce) %>

      </div>
    <% end %>
    </div>
  </div>
</div>

      <%= render 'components/mailbox' %>

    </div>
  </div>
</div>
