
<div class="banner" >
  <div class="banner-content">
    <h1>Some Stuff</h1>
    <p>Very cool stuff, useful and smart</p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>

<div class="wrapper-grey padded">
  <div class="container">
  <h2 class="text-center"> That for You Buddy</h2>
    <div class="row">
      <%= render 'components/cards' %>
      <%= render 'components/cards' %>
      <%= render 'components/cards' %>
      </div>
    </div>
</div>


      <%= render 'components/mailbox' %>













      <!-- insert <div class="card"> -->
    </div>
  </div>
</div>
