
<div class="banner" >
  <div class="banner-content">
    <h1>Some Stuff</h1>
    <p>Very cool stuff, useful and smart</p>
    <%= link_to " All announces", announces_path, class:'btn btn-primary' %>
  </div>
</div>


<div class="wrapper-grey padded">
  <div class="container">
  <h2 class="text-center"> That for You Buddy</h2>
    <div class="row">
    <% @announces.each do |announce| %>
      <div class="col-xs-12 col-md-4">
        <%= render 'announces/announce', announce: announce %>
        <%= link_to "plus de details", announce_path(announce) %>

      </div>
    <% end %>
    </div>
  </div>
</div>

      <%= render 'components/mailbox' %>


      <!-- insert <div class="card"> -->
    </div>
  </div>
</div>
